<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <script>
    document.addEventListener('DOMContentLoaded', e => {
      window.opener.postMessage({sessionToken: '<%= sessionToken %>', user: '<%- JSON.stringify(user) %>'}, '*');
      window.close();
    })
  </script>
</body>
</html>